{% extends 'base.html' %}
{% from "components/macros.html" import form_errors %}

{% block title %}Add produce{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h1>Add produce</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group" hidden>
                {{ form.developer_pk.label }}
                {{ form.developer_pk }}

                {{ form_errors(form.developer_pk.errors) }}
            </div>

            <div class="form-group">
                {{ form.genre.label }}
                {{ form.genre }}

                {{ form_errors(form.genre.errors) }}
            </div>

            <div class="form-group">
                {{ form.title.label }}
                {{ form.title }}

                {{ form_errors(form.title.errors) }}
            </div>

            <div class="form-group">
                {{ form.edition.label }}
                {{ form.edition }}

                {{ form_errors(form.edition.errors) }}
            </div>

            <!-- <div class="form-group">
                {{ form.rating.label }}
                {{ form.rating }}

                {{ form_errors(form.rating.errors) }}
            </div> -->

            <div class="form-group">
                {{ form.price.label }}
                {{ form.price }}

                {{ form_errors(form.price.errors) }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn--full") }}
            </div>
        </form>
    </section>
{% endblock %}